<h1> Welcome to DucksBnB </h1>

<form action='/signup' method='get'>
  <input type='submit' value='Sign up'>
</form>

<form action='/login' method='get'>
  <input type='submit' value='Log in'>
</form>