<h1> Welcome to DucksBnB </h1>

<form action='/signup' method='get'>
  <input type='submit' value='Sign up'>
</form>

<form action='/login' method='get'>
  <input type='submit' value='Log in'>
</form>

<form action='/spaces' method='get'>
  <label> Check-in: </label>
  <input type='date' name='Check-in'>
  <label> Check-out: </label>
  <input type='date' name='Check-out'>
  <input type='submit' value='Search'>
</form>