<ul>
  <% @spaces.each do |space| %>
    <li>
      <%= space.name %>
      <%= space.description %>
      <%= space.price %>
    </li>
  <% end %>
  <form action = '/spaces/new' method = 'GET'>
  <input type='submit' value='Add a space'>
  </form>
</ul>

