<h2> Add a new space </h2>
<br>
<form action = '/spaces' method = 'POST'>
  <label for="name">
    Space:
    <br><br> 
    <input type = 'text' name = 'name'>
  </label>
  <br><br>
  <label for="description">
    Decription:
    <br><br> 
    <input type = 'text' name = 'description'>
  </label>
  <br><br>
  <label for="price">
    Price:
    <br><br> 
    <input type = 'number' step = '0.01' name = 'price'>
  </label>
  <br><br>
  <label for="available_from">
  Available from:
  <br><br> 
  <input type = 'date' name = 'available_from'>
</label>
<br><br>
<label for="available_to">
  Available to:
  <br><br> 
  <input type = 'date' name = 'available_to'>
</label>
<br><br>
  <input type='submit' value='Submit'>
</form>